In [108]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.model_selection import KFold
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score, precision_score, recall_score, confusion_matrix, roc_curve, roc_auc_score, classification_report, log_loss

import warnings
warnings.filterwarnings("ignore")

In [2]:
df = pd.read_csv("grad.csv", header=0)

In [3]:
df.describe()

            admit         gre         gpa       rank
count  400.000000  400.000000  400.000000  400.00000
mean     0.317500  587.700000    3.389900    2.48500
std      0.466087  115.516536    0.380567    0.94446
min      0.000000  220.000000    2.260000    1.00000
25%      0.000000  520.000000    3.130000    2.00000
50%      0.000000  580.000000    3.395000    2.00000
75%      1.000000  660.000000    3.670000    3.00000
max      1.000000  800.000000    4.000000    4.00000

In [120]:
X0 = df[(df['admit'] ==0)]
X1 = df[(df['admit'] ==1)]
X0.shape, X1.shape
X0 = X0.sample(n=127)
X0.shape, X1.shape

((127, 4), (127, 4))

In [122]:
frames = [X0, X1]
df50 = pd.concat(frames)
df50[['is_rank1', 'is_rank2', 'is_rank3', 'is_rank4']] = pd.get_dummies(df50['rank']).iloc[:, ]
df50.shape

(254, 8)

In [138]:
y = df50.admit
X = df50[['gre','gpa','is_rank4']]
X.shape

(254, 3)

In [139]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((177, 3), (77, 3), (177,), (77,))

In [140]:
scalar = StandardScaler().fit(X_train)
X_train = scalar.transform(X_train)
X_test = scalar.transform(X_test)

In [141]:
model5050 = LogisticRegression(solver='lbfgs').fit(X_train, y_train)

In [142]:
model5050.intercept_, model5050.coef_

(array([0.02347731]), array([[ 0.44873397,  0.17032974, -0.35531129]]))

In [143]:
y_hats = model5050.predict(X_test)

In [144]:
accuracy_score(y_test, y_hats)

0.6493506493506493